%font-400-r {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
}

%font-700-b {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
}

$green: #5dcb42;
$purple: #c562c3;
